/link href="/Bootstrap-Image-Gallery/css/bootstrap-image-gallery.min.css" rel="stylesheet"

/script src="http://blueimp.github.com/JavaScript-Load-Image/load-image.min.js"

/script src="/Bootstrap-Image-Gallery/js/bootstrap-image-gallery.min.js"

