script type="text/javascript" src="/jQuery-Validation-Engine/js/languages/jquery.validationEngine-en.js"
/script type="text/javascript" src="/jQuery-Validation-Engine/js/languages/jquery.validationEngine-pl.js"
script src="/jQuery-Validation-Engine/js/jquery.validationEngine.js" type="text/javascript" charset="utf-8"
link rel="stylesheet" href="/jQuery-Validation-Engine/css/validationEngine.jquery.css" type="text/css"  
